// LIB
@import "./lib/variables";
@import "./lib/mixins";

// BASE
@import "./base/global";
@import "./base/gridContainerBlog";

// COMPONENTS

@import "./components/icons";
@import "./components/logo";
@import "./components/homebutton";
@import "./components/blogsbutton";


// LAYOUT

@import "./layout/header";
@import "./layout/home";
@import "./layout/blogs";
@import "./layout/footer";
@import "./layout/blog";
@import "./layout/contact";
@import "./layout/profile";
@import "./layout/mediaQueries";