// CONTACT

.contact-main-container {
  display: grid;
  // grid-template: 1 /2;
  grid-template-areas: "contact write";
  justify-items: center;
  align-items: center;
  padding: 45px;
  background-color: $color-lightGray;
  & .contact-left , & .contact-right {
    display: flex; 
    justify-content: center;
    // width: 200px;
  }
  & .contact-left a , & .contact-right a {
    border-bottom: 1.3px solid black;
    font-size: 15px;
  }
  & .contact-left div , & .contact-right div {
    width: 200px;
  }
  & .contact-left img , & .contact-right img {
    width: 200px;
  }

}
