// FOOTER

footer {
  width: 100%;
  height: 80px;
  background-color: $color-secondary;
  border-top: 35px solid $color-primary;
  text-align: center;
}

footer p {
  color: $color-white;
  margin-top: 30px;
}