//  PROFILE

.blogs-news-img-container{
  width: 70%;
  & img {
    width: 100%;
    border-radius: 20px;
  }
}

.blogpost-title {
  text-align: center;
}

.blogpost-project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blogpost-project p {
  width: 250px;
}
