// HOME BUTTON

.home-main-button {
  width: 115px;
  height: 100%;
  background-color: $color-primary;
  border: 1px solid $color-white;
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
}

